.container {
  height: 100%;
  padding: 0 64px;
}

.placeholder {
  flex: 1;
}

.description {
  max-width: 500px;
}

.layout {
  display: flex;
  gap: 128px;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.content_container {
  flex: 1;
  display: flex;
  justify-content: flex-end;
}

.content_spacing {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.planet {
  position: absolute;
  width: 600px;
  right: 0;
  bottom: 0;
}
