.container {
  display: flex;
  align-items: center;
  height: 100%;
  justify-content: center;
  padding: 64px 32px;
}

.heading {
  grid-column-start: 1;
  grid-column-end: 3;
}

.subtitle {
  color: var(--light, #f4f4f4);
  font-family: Montserrat;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.5px;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 32px;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto;
  max-width: 500px;
}

.background_image {
  width: 500px;
  position: absolute;
  left: 50%;
  bottom: -20%;
  z-index: -99;
  transform: translateX(-50%);
}

@media screen and (min-width: 1320px) {
  .container {
    display: flex;
    justify-content: end;
    align-items: center;
    padding: 196px;
    overflow: hidden;
  }

  .content {
    flex: 1;
  }

  .background_image {
    position: relative;
    flex: 1;
    left: 20%;
    z-index: -99;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
  }
}
