.iss {
  position: absolute;
  top: 30%;
  right: 200px;
  width: 200px;
  height: 200px;
  background-image: url("./iss_white.webp");
  background-size: contain;
  background-position: center;
  z-index: -1;
  background-repeat: no-repeat;
}

@keyframes float {
  0% {
    transform: translateY(-20px);
  }
  50% {
    transform: translateY(20px);
  }
  100% {
    transform: translateY(-20px);
  }
}

.floating {
  animation: float 6s ease-in-out infinite;
}
