.section {
  position: relative;
  min-height: 100vh;
}

.hero_section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 64px;
  padding: 100px;
}

.subtitle {
  font-size: 28px;
  max-width: 500px;
  text-align: center;
  font-weight: 400;
  margin-bottom: 8px;
}

.earth_bg {
  position: absolute;
  z-index: -10;
}
